*{
box-sizing: border-box;
}
body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{background-color: #212529;}
textarea{resize: none;}
.navbar-nav{
    border:1px solid #f8f9fa;;
    border-radius: 0.5rem;
   
}
